---
title: Students
icon: fa-th
order: 8
---

<a href="https://mdef.gitlab.io/adriana.tamargo/">Adriana Tamargo Iturri</a><br />
<a href="https://mdef.gitlab.io/jessica.guy/">Jessica Guy</a><br />
<a href="https://mdef.gitlab.io/alexandre.acsensi/">Alexandre Acsensi Valiente</a><br />
<a href="https://mdef.gitlab.io/nicolas.viollier/">Nicolás Viollier</a><br />
<a href="https://mdef.gitlab.io/thomas.barnes/">Thomas Barnes</a><br />
<a href="https://mdef.gitlab.io/julia.danae/">Julia Danae Bertolaso</a><br />
<a href="https://mdef.gitlab.io/ola.lukaszewska/">Aleksandra Łukaszewska</a><br />
<a href="https://mdef.gitlab.io/gabor.mandoki/">Gábor Lászlo Mándoki</a><br />
<a href="https://mdef.gitlab.io/julia.quiroga/">Julia Quiroga</a><br />
<a href="https://mdef.gitlab.io/maite.villar/">Maite Villar Latasa</a><br />
<a href="https://mdef.gitlab.io/ilja.panic/">Ilja Aleksandar Panić</a><br />
<a href="https://mdef.gitlab.io/saira.raza/">Saira Raza</a><br />
<a href="https://mdef.gitlab.io/emily.whyman/">Emily Whyman</a><br />
<a href="https://mdef.gitlab.io/silvia.ferrari/">Silvia Matilde Ferrari Boneschi</a><br />
<a href="https://mdef.gitlab.io/veronica.tran/">Nhu Tram Veronica Tran</a><br />
<a href="https://mdef.gitlab.io/gabriela.martinez/">Gabriela Martinez Pinheiro</a><br />
<a href="https://mdef.gitlab.io/oliver.juggins/">Oliver Juggins</a><br />
<a href="https://mdef.gitlab.io/rutvij.pathak/">Rutvij Pathak</a><br />
<a href="https://mdef.gitlab.io/fifa.jonsdottir/">Fífa Jónsdóttir</a><br />
<a href="https://mdef.gitlab.io/ryota.kamio/">Ryota Kamio</a><br />
<a href="https://mdef.gitlab.io/vasiliki.simitopoulou/">Vasiliki Simitopoulou</a><br />
<a href="https://mdef.gitlab.io/barbara.drozdek/">Barbara Drozdek</a><br />
<a href="https://mdef.gitlab.io/katherine.vegas/">Katherine Stephania Vegas Garcia</a><br />
<a href="https://mdef.gitlab.io/laura.alvarez/">Laura Álvarez Florez</a><br />
<a href="https://mdef.gitlab.io/vesa.gashi/">Vesa Gashi</a><br />
