---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
  <!-- Page -->
  <article class="shade-two">
    <div class="container">
      <header>
        <h2>{{- page.title -}}</h2>
        {%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
      </header>
      <div class="course-content">
        {{- content -}}
      </div>
    </div>
  </article>
</div>
